{% extends "./layout/base.html.twig" %}

{% block title %} Aventure {% endblock %}

{% block body %}
<main class="bg-index">
<section class="p-5">
<a href="{{ path('app_aventure_prologue') }}" class="text-decoration-none">
<div class="container marge col-lg-6">
<div class="bg-secondary bg-opacity-25 rounded">
<p class="highlight-texte text-center p-5 medievalsharp-regular">Embarquez et rejoignez une nouvelle aventure</p>
</div>
</div>
</a>
</section>
</main>

{% endblock %}
