{% extends "./layout/base.html.twig" %}

{% block body %}
<h1>Page de connexion</h1>
<p>Si vous n'avez pas encore de compte, veuillez-vous inscrire en suivant ce lien : <a href="{{ path('app_utilisateur_inscription') }}">S'inscrire</a></p>
{% endblock %}
