.navbar {
    height: 7em;
    background-color: #BAA685;
    background-image: url('../images/dragongauche.jpg'), url('../images/dragondroit.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: auto 100%, auto 100%;
}

.bg-index {
    background-image: url(../images/background_maison_campagne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50em;
    position: sticky;
}

.bg-prologue {
    background-image: url(../images/prologue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80em;
    position: sticky;
}

.scroll {
    overflow: auto;
}

.miseenpage {
    height: 44rem;
}

.mycardcolor {
    background-color: #b9b72a;
}

.marge {
    padding-top: 8%;
}

.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 2em;
}

.medievalsharp-text {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

.highlight-texte {
    color: rgb(218, 215, 215);
    text-shadow: 0 0 20px black, 0 0 20px black, 5px 5px 20px black;
    -webkit-text-stroke: 0.3px black;
}

.highlight-texte:hover {
    color: black;
    text-shadow: 0 0 20px #4abf81, 0 0 20px #4abf81, 5px 5px 20px #4abf81;
    transition: 0.5s;
    transform:scale(1.2);
}

.heavy {
    opacity: 0.93;
}

.test > .heavy {
    opacity: 0,93;
}

.parchemin {
    background-image: url(../images/parcheprologue.png);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    height: 55em;
    position: sticky;
    margin-top: 13%;
}

.container1 {

    height: 25em;
    overflow: auto;
    padding-left: 6em;
    padding-right: 6em;
}

.container1 p {
    margin-top: 10%;
}

.prologuetitre {
    padding: 2.35em;
    position: relative;
    bottom: 5px;
    transform: scale(1.5);
}