{% extends "./layout/base.html.twig" %}

{% block title %} Aventure {% endblock %}

{% block body %}

<p>Embarquez et rejoignez une nouvelle aventure<a href="{{ path('app_aventure_prologue') }}">Prologue</a></p>
<p>Holala il ce passe plein de choses dans la suite de l'aventure<a href="{{ path('app_aventure_acteun') }}">Acte Un</a></p>

{% endblock %}
